.grid{
  display: grid;
  gap: 10px;
  position: relative;
}
.card {
  cursor: pointer;
}

.fields{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game-fields__grid{
  position:relative;
}
.overflow{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}